@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  body {
    header {
      margin-top: 2vw;
      .grid-container {
        border-bottom: 0.25px solid black;
        padding-bottom: 2vw;
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        .item-1 {
          button {
            color: #575757;
            padding: 0;
            font-weight: 300;
            letter-spacing: 11%;
            transition: 0.5s;
            font-size: 15px;
          }
          button:hover {
            color: black;
          }
          .dropdown {
            position: relative;
            display: inline-block;
            &:hover {
              .dropdown-content {
                display: block;
              }
            }
          }
          .dropdown-content {
            display: none;
            position: absolute;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            a {
              color: black;
              text-decoration: none;
              display: block;
              padding: 1vw 2vw;
              transition: 0.5s;
            }
            a:hover {
              color: red;
              background-color: rgba(233, 233, 233, 0.622);
            }
          }
        }
        .item-1,
        .item-2,
        .item-3,
        .item-4,
        .item-5,
        .item-6,
        .item-7 {
          text-align: center;
          a {
            text-decoration: none;
            color: #575757;
            font-weight: 300;
            font-size: 15px;
            transition: 0.5s;
          }
          a:hover {
            color: black;
          }
        }
        .item-1 {
          grid-area: cur;
        }
        .item-2 {
          grid-area: store;
        }
        .item-3 {
          grid-area: customer;
        }
        .item-4 {
          grid-area: balmain;
        }
        .item-5 {
          grid-area: sign;
        }
        .item-6 {
          grid-area: acc;
        }
        .item-7 {
          grid-area: help;
        }
      }
      @media (min-width: 576px) {
        .grid-container {
          grid-template-columns: repeat(1, 1fr);
          grid-template-areas:
            "balmain"
            "cur"
            "store"
            "customer"
            "sign"
            "acc"
            "help";
        }
      }
      @media (min-width: 990px) {
        .grid-container {
          grid-template-columns: repeat(7, 1fr);
          grid-template-areas: "cur store customer balmain sign acc help";
        }
      }
      #more-nav {
        margin-top: 3vw;
        margin-bottom: 2.5vw;
        .container-fluid {
          .row {
            .navnav {
              ul {
                padding: 0;
                list-style-type: none;
                li {
                  a {
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 17px;
                    color: #474747;
                    transition: 0.5s;
                  }
                  a:hover {
                    color: black;
                  }
                }
              }
            }
            .icons {
              a {
                text-decoration: none;
                i {
                  color: black;
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
    main {
      #arrivals {
        background-image: url(/assets/images/kate.jpg);
        background-repeat: no-repeat;
        background-position: center;
        .container-fluid {
          padding-top: 10vw;
          padding-bottom: 10vw;
          .row {
            .newarr {
              a {
                text-decoration: none;
                color: white;
                h2 {
                  font-weight: 700;
                  font-size: 55px;
                }
              }
            }
            .arrinfo {
              p {
                color: white;
                font-weight: 400;
                font-size: 16px;
              }
            }
          }
        }
      }
      #filtration-products {
        margin-top: 3vw;
        .container {
          .row {
            .filter,
            .online {
              button {
                p {
                  font-size: 17px;
                  font-weight: 500;
                  color: #141313;
                  text-transform: uppercase;
                }
              }
            }
            .online {
              button {
                p {
                  text-transform: capitalize;
                  color: #000000;
                }
              }
            }
            .dropd {
              .first {
                span {
                  p {
                    margin: 0;
                    font-weight: 400;
                    font-size: 17px;
                    letter-spacing: 11%;
                  }
                  .dropbtn {
                    color: black;
                    padding: 0;
                    font-weight: 500;
                    letter-spacing: 11%;
                    font-size: 17px;
                    i {
                      color: black;
                      padding: 0;
                      font-size: 17px;
                    }
                  }
                  .dropdown {
                    position: relative;
                    display: inline-block;
                    &:hover {
                      .dropdown-content {
                        display: block;
                      }
                    }
                  }
                  .dropdown-content {
                    display: none;
                    position: absolute;
                    min-width: 160px;
                    background-color: white;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                    a {
                      color: black;
                      text-decoration: none;
                      display: block;
                      padding: 1vw 2vw;
                      transition: 0.5s;
                    }
                    a:hover {
                      color: red;
                      background-color: rgba(233, 233, 233, 0.622);
                    }
                  }
                }
              }
            }
          }
        }
      }
      #product-list {
        margin-top: 7vw;
        margin-bottom: 10vw;
        .container {
          .grid-container {
            display: grid;
            grid-column-gap: 5rem;
            grid-row-gap: 5rem;
            .grid-item {
              border: none;
              .product-container {
                margin-top: 3vw;
                width: 23vw;
                height: 40vw;
                .productimgg {
                  width: 23vw;
                  height: 40vw;
                }
                .card {
                  display: block;
                  border: none;
                  min-width: 25vw;
                  a {
                    img {
                      width: 100%;
                    }
                  }
                  .all-set {
                    .carousel-inner {
                      .carousel-item {
                        background-color: #f5f5f5;
                        border: 1px solid transparent;
                        border-radius: 25px;
                      }
                    }
                    span {
                      color: pink;
                      i {
                        color: #0c0b0b;
                        font-size: 25px;
                      }
                    }
                  }
                  .card-body {
                    margin-top: 3vw;
                    a {
                      text-decoration: none;
                      .card-title {
                        font-weight: 500;
                        font-size: 25px;
                        color: black;
                        transition: 0.5s;
                        display: inline;
                      }
                      .card-title:hover {
                        border-bottom: 0.5px solid rgb(0, 0, 0);
                      }
                      .card-text {
                        margin-top: 2vw;
                        transition: 0.5s;
                        font-weight: 250;
                        color: black;
                        font-size: 25px;
                        button {
                          .color-swatch {
                            border: 1px solid gray;
                            border-radius: 50%;
                            background-color: black;
                            width: 20px !important;
                            height: 20px !important;
                            transition: 0.5s;
                          }
                          .color-swatch:hover {
                            border: 1px solid rgb(255, 0, 0);
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            .grid-1 {
              .product-container {
                display: flex;
                justify-content: flex-enx;
                .card {
                  a {
                    img {
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
          @media (min-width: 576px) {
            .grid-container {
              grid-template-columns: repeat(2, 1fr);
            }
          }
          @media (min-width: 990px) {
            .grid-container {
              grid-template-columns: repeat(3, 1fr);
            }
          }
        }
      }
      #more-link {
        margin-top: 13vw;
        .container-fluid {
          .row {
            .morre {
              button {
                background-color: #131212;
                color: #fffafa;
                font-weight: 300;
                font-size: 20px;
                text-transform: uppercase;
                letter-spacing: 0.5%;
                padding: 0.8vw 3.5vw;
                border: 1px solid #131212;
                border-radius: 35px;
                transition: 0.5s;
              }
              button:hover {
                background-image: linear-gradient(
                  to left,
                  black,
                  #645d5d50,
                  #989595a9
                );
                border: 1px solid #645d5d80;
              }
            }
            .all {
              margin-top: 1vw;
              button {
                font-weight: 300;
                font-size: 25px;
                letter-spacing: 0.5%;
                text-transform: uppercase;
                text-decoration: underline;
                color: rgba(80, 80, 80, 0.841);
                transition: 0.5s;
              }
              button:hover {
                color: black;
              }
            }
          }
        }
      }
      #explore {
        margin-top: 8vw;
        border-bottom: 0.25px solid black;
        padding-bottom: 7vw;
        .container {
          .row {
            .explre {
              h5 {
                font-weight: 400;
                font-size: 21px;
                color: rgb(0, 0, 0);
              }
            }
            .link-navs {
              margin-top: 2vw;
              a {
                color: rgb(129, 127, 127);
                text-transform: uppercase;
                text-decoration: none;
                padding: 0.5vw 2vw;
                border: 1px solid rgb(129, 127, 127);
                border-radius: 35px;
                letter-spacing: 11%;
                transition: 0.5s;
              }
              a:not(:first-child) {
                margin-left: 1vw;
              }
              a:hover {
                color: black;
                border-color: black;
              }
            }
          }
          .pic-navs {
            margin-top: 4vw;
            .rtw {
              background-image: url(/assets/images/rtw.png);
              background-position: center;
              background-repeat: no-repeat;
              a {
                padding-top: 32vw;
                padding-bottom: 2vw;
                text-align: center;
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 20px;
                transition: 0.5s;
              }
              a:hover {
                color: red;
              }
            }
            .all-three {
              border: 1px solid transparent;
              border-radius: 30px;
            }
            .bags {
              background-image: url(/assets/images/redbag.png);
              background-position: center;
              background-repeat: no-repeat;
              a {
                padding-top: 32vw;
                padding-bottom: 2vw;
                text-align: center;
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 20px;
                transition: 0.5s;
              }
              a:hover {
                color: red;
              }
            }
            .shoes {
              background-image: url(/assets/images/redshoes.png);
              background-position: center;
              background-repeat: no-repeat;
              a {
                padding-top: 32vw;
                padding-bottom: 2vw;
                text-align: center;
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 20px;
                transition: 0.5s;
              }
              a:hover {
                color: red;
              }
            }
          }
        }
      }
      #balmain-logo {
        padding: 3vw 0;
        border-bottom: 0.25px solid black;
        margin-bottom: 4vw;
        .container-fluid {
          .row {
            .col {
              img {
                text-align: center;
                width: 100%;
              }
            }
          }
        }
      }
    }
    footer {
      #socials {
        margin-bottom: 4vw;
        .container-fluid {
          .row {
            .second {
              ul {
                padding: 0;
                list-style-type: none;
              }
            }
          }
        }
      }
      #prelast-footer {
        .container-fluid {
          .row {
            .custcust {
              .customer {
                h4 {
                  font-weight: 500;
                  font-size: 20px;
                  text-transform: uppercase;
                  margin-bottom: 1vw;
                }
                ul {
                  padding: 0;
                  list-style-type: none;
                  li {
                    margin-bottom: 0.4vw;
                    a {
                      text-decoration: none;
                      color: black;
                      font-weight: 300;
                      font-size: 17px;
                      transition: 0.5s;
                    }
                    a:hover {
                      color: red;
                    }
                  }
                }
              }
            }
            .polpol {
              .policy {
                h4 {
                  font-weight: 500;
                  font-size: 20px;
                  text-transform: uppercase;
                  margin-bottom: 1vw;
                }
                ul {
                  padding: 0;
                  list-style-type: none;
                  li {
                    margin-bottom: 0.4vw;
                    a {
                      text-decoration: none;
                      color: black;
                      font-weight: 300;
                      font-size: 17px;
                      transition: 0.5s;
                    }
                    a:hover {
                      color: red;
                    }
                  }
                }
              }
            }
            .secsec {
              .security {
                h4 {
                  font-weight: 500;
                  font-size: 20px;
                  text-transform: uppercase;
                  margin-bottom: 1vw;
                }
                p {
                  font-weight: 300;
                }
                p:hover {
                  text-decoration: underline;
                }
                img {
                  margin-top: 2vw;
                }
              }
            }
          }
        }
      }
      #last {
        margin-top: 2vw;
        background-color: black;
        .container-fluid {
          .row {
            .rights,
            .id {
              padding: 0;
              h4 {
                padding: 1vw 0;
                color: white;
                font-size: 17px;
                font-weight: 300;
                text-align: center;
                vertical-align: ceil($number: 0);
                transition: 0.5s;
              }
              h4:hover {
                color: red;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 760px) {
  * {
    body {
      header {
        margin-top: 5vw;
        .grid-container {
          grid-template-columns: repeat(1, 1fr);
          grid-template-areas:
            "balmain"
            "cur"
            "store"
            "customer"
            "sign"
            "acc"
            "help";
          .item-1 {
            .dropdown-content {
              background: white;
            }
          }
        }
        #more-nav {
          .container-fluid {
            .row {
              .navnav {
                ul {
                  display: flex;
                  flex-direction: column;
                }
              }
            }
          }
        }
      }
      main {
        #filtration-products {
          .container {
            .row {
              .filter,
              .online {
                display: flex;
                justify-content: center;
              }
              .dropd {
                display: flex;
                align-items: center;
                justify-content: center;
                .first {
                  span {
                    p {
                      font-size: 15px;
                    }
                    .dropdown {
                      button {
                        font-size: 15px;
                      }
                      .sec {
                        padding: 0;
                      }
                    }
                  }
                }
                .second {
                  span {
                    display: flex;
                    align-items: center;
                  }
                }
              }
            }
          }
        }
        #product-list {
          .container {
            .grid-container {
              .grid-item {
                .product-container {
                  width: 300px;
                  height: 500px;
                }
              }
              .grid-1 {
                .product-container {
                  display: flex;
                  justify-content: center;
                  .card {
                    a {
                      img {
                        width: 100%;
                        height: 100%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        #more-link {
          margin-top: 150px;
        }
      }
      footer {
        #prelast-footer {
          .container-fluid {
            .row {
              .custcust {
                .customer {
                  h4 {
                    text-align: center;
                  }
                  ul {
                    li {
                      text-align: center;
                    }
                  }
                }
              }
              .polpol {
                .policy {
                  h4 {
                    text-align: center;
                  }
                  ul {
                    li {
                      text-align: center;
                    }
                  }
                }
              }
              .secsec {
                .security {
                  h4 {
                    text-align: center;
                  }
                  p {
                    text-align: center;
                  }
                  a {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    img {
                      text-align: center;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
