@model Collection

@{
    ViewData["Title"] = "Site Info / Update Collection";

}

@section addcss{
    <style>


        .label-situation {
            background-color: transparent;
            position: relative !important;
        }

            .label-situation > label {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: rgba(0, 0, 0, 0.10) !important;
            }

            .label-situation > img {
                width: 100%;
            }

        .input-situation {
            opacity: 0 !important;
            background-color: transparent;
            position: absolute !important;
            height: 200px !important
        }

        #plusIcon, #plusLogo {
            position: absolute;
        }

        .row div:nth-child(2) > div > label {
            text-align: left !important;
        }
        /*        input, textarea, .container-fluid{
                                                    background-color: midnightblue !important;
                                                }


                                                .validation-summary-errors ul li{
                                                    color: white;
                                                }*/




        label {
            border-color: transparent !important;
            color: black !important;
            background-color: transparent !important;
        }
    </style>
}

<div class="container p-5">
    <h2 class="text-dark">Update Collection</h2>



    <form method="post" asp-action="UpdateCollection" enctype="multipart/form-data">

        <div class="row text-center">

            <div class="col-md-12">

                  <div class="form-group">
                    <label class="form-control">Image</label>
                    <input type="file" name="file" class="form-control text-dark" />
                    <span asp-validation-for="ImagePath" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="hidden" asp-for="Id" class="form-control text-dark" value="@Model.Id" />
                <input type="hidden" asp-for="ImagePath" class="form-control text-dark" value="@Model.ImagePath" />
                    <label class="form-control">Name</label>
                    <input required asp-for="Name" class="form-control text-dark" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group col-md-12">
                    <input class="btn btn-primary my-5" type="submit" value="Update" />
                </div>
            </div>

        </div>


    </form>

</div>



